{{ define "create-modal" }}
  <div id="create-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Create ketchup</h2>

      <form method="POST" action="/app/ketchups/" class="create-form">
        <input type="hidden" name="method" value="POST">

        <p class="padding no-margin flex">
          <span class="flex-grow center">
            <label for="create-kind-github" class="block">
              <img class="icon icon-large clickable" src="{{ url "/svg/github?fill=silver" }}" alt="Github logo" title="Github">
            </label>
            <input id="create-kind-github" type="radio" name="kind" value="github" checked>
          </span>

          <span class="flex-grow center">
            <label for="create-kind-helm" class="block">
              <img class="icon icon-large clickable" src="{{ url "/svg/helm?fill=silver" }}" alt="Helm logo" title="Helm">
            </label>
            <input id="create-kind-helm" type="radio" name="kind" value="helm">
          </span>

          <span class="flex-grow center">
            <label for="create-kind-docker" class="block">
              <img class="icon icon-large clickable" src="{{ url "/svg/docker?fill=silver" }}" alt="Docker logo" title="Docker">
            </label>
            <input id="create-kind-docker" type="radio" name="kind" value="docker">
          </span>

          <span class="flex-grow center">
            <label for="create-kind-npm" class="block">
              <img class="icon icon-large clickable" src="{{ url "/svg/npm?fill=silver" }}" alt="NPM logo" title="NPM">
            </label>
            <input id="create-kind-npm" type="radio" name="kind" value="npm">
          </span>

          <span class="flex-grow center">
            <label for="create-kind-pypi" class="block">
              <img class="icon icon-large clickable" src="{{ url "/svg/pypi?fill=silver" }}" alt="Pypi logo" title="Pypi">
            </label>
            <input id="create-kind-pypi" type="radio" name="kind" value="pypi">
          </span>
        </p>

        <p class="padding no-margin">
          <label for="create-name" class="block">Name:</label>
          <input id="create-name" type="text" name="name" placeholder="ViBiOh/ketchup" class="full">
        </p>

        <p id="create-part-wrapper" class="padding no-margin hidden">
          <label for="create-part" class="block">Part:</label>
          <input id="create-part" type="text" name="part" placeholder="postgres" class="full">
        </p>

        <p class="padding no-margin">
          <label for="create-pattern" class="block">Pattern: <img class="icon icon-small" title="'latest': latest version, beta included.
'stable': latest version without beta.
'^1': latest with fixed major version.
'~1.1': latest with fixed major and minor version.
'^1-0': include beta (works also for '~')." src="{{ url "/svg/question?fill=silver" }}" alt="Question icon"></label>
          <input id="create-pattern" type="text" name="pattern" placeholder="stable" class="full">
        </p>

        <p class="padding no-margin">
          <label for="create-version" class="block">My version:</label>
          <input id="create-version" type="text" name="version" placeholder="1.0.0" class="full">
        </p>

        <p class="padding no-margin">
          <label for="create-frequency" class="block">Frequency:</label>
          <select id="create-frequency" name="frequency" class="full">
            <option value="Weekly">Weekly</option>
            <option value="Daily" selected>Daily</option>
            <option value="None">None</option>
          </select>
        </p>

        <p class="padding no-margin">
          <input type="checkbox" id="create-update-when-notify" name="update-when-notify" value="true">
          <label for="create-update-when-notify" class="margin-left">Update when notify <img class="icon icon-small" title="When the mail notification is sent, the Ketchup is automatically updated" src="{{ url "/svg/question?fill=silver" }}" alt="Question icon"></label>
        </p>

        {{ template "form_buttons" "Create" }}
      </form>
    </div>
  </div>

  <script type="text/javascript">
    const repositoryInput = document.getElementById('create-name');
    const nameInput = document.getElementById('create-part-wrapper');

    document.getElementById('create-kind-github').addEventListener('change', (e) => {
      if (e.target.value === 'github') {
        repositoryInput.placeholder = 'ViBiOh/ketchup';
        nameInput.classList.add("hidden");
      }
    });

    document.getElementById('create-kind-helm').addEventListener('change', (e) => {
      if (e.target.value === 'helm') {
        repositoryInput.placeholder = 'https://charts.vibioh.fr';
        nameInput.classList.remove("hidden");
      }
    });

    document.getElementById('create-kind-docker').addEventListener('change', (e) => {
      if (e.target.value === 'docker') {
        repositoryInput.placeholder = 'vibioh/ketchup';
        nameInput.classList.add("hidden");
      }
    });

    document.getElementById('create-kind-npm').addEventListener('change', (e) => {
      if (e.target.value === 'npm') {
        repositoryInput.placeholder = 'funtch';
        nameInput.classList.add("hidden");
      }
    });

    document.getElementById('create-kind-pypi').addEventListener('change', (e) => {
      if (e.target.value === 'pypi') {
        repositoryInput.placeholder = 'pip';
        nameInput.classList.add("hidden");
      }
    });
  </script>
{{ end }}

{{ define "edit-modal" }}
  <div id="edit-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Edit ketchup</h2>

      <p class="padding no-margin center">
        <img class="icon" src="{{ url "/svg/" }}{{ .Repository.Kind.String }}?fill=silver" alt="{{ .Repository.Kind.String }} logo">
      </p>

      <p class="no-margin center padding">{{ .Repository.Name }}</p>
      {{ if eq .Repository.Kind.String "helm" }}
        <p class="no-margin center padding">{{ .Repository.Part }}</p>
      {{ end }}

      <form method="POST" action="/app/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="PUT">
        <input type="hidden" name="old-pattern" value="{{ .Pattern }}">

        <p class="padding no-margin">
          <label for="edit-pattern-{{ .ID }}" class="block">Pattern: <img class="icon icon-small" title="'latest': latest version, beta included.
'stable': latest version without beta.
'^1': latest with fixed major version.
'~1.1': latest with fixed major and minor version.
'^1-0': include beta (works also for '~')." src="{{ url "/svg/question?fill=silver" }}" alt="Question icon"></label>
          <input id="edit-pattern-{{ .ID }}" name="pattern" type="text" value="{{ .Pattern }}">
        </p>

        <p class="padding no-margin">
          <label for="edit-version-{{ .ID }}" class="block">My version:</label>
          <input id="edit-version-{{ .ID }}" name="version" type="text" value="{{ .Version }}">
        </p>

        <p class="padding no-margin">
          <label for="edit-frequency" class="block">Frequency:</label>
          <select id="edit-frequency" name="frequency" class="full">
            <option value="Weekly" {{ if eq .Frequency.String "Weekly" }}selected{{ end }}>Weekly</option>
            <option value="Daily" {{ if eq .Frequency.String "Daily" }}selected{{ end }}>Daily</option>
            <option value="None" {{ if eq .Frequency.String "None" }}selected{{ end }}>None</option>
          </select>
        </p>

        <p class="padding no-margin">
          <input type="checkbox" id="update-update-when-notify-{{ .ID }}" name="update-when-notify" value="true" {{ if .UpdateWhenNotify }}checked{{ end }}>
          <label for="update-update-when-notify-{{ .ID }}" class="margin-left">Update when notify <img class="icon icon-small" title="When the mail notification is sent, the Ketchup is automatically updated" src="{{ url "/svg/question?fill=silver" }}" alt="Question icon"></label>
        </p>

        {{ template "form_buttons" "Edit" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "delete-modal" }}
  <div id="delete-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Confirmation</h2>

      <form method="POST" action="/app/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="DELETE">
        <input type="hidden" name="pattern" value="{{ .Pattern }}">

        <p class="padding no-margin center">
          Are you sure you want to delete <strong>{{ .Repository.Name }}{{ if eq .Repository.Kind.String "helm" }} | {{ .Repository.Part }}{{ end }}</strong> for <strong>{{ .Pattern }}</strong>?
        </p>

        {{ template "form_buttons" "Delete" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "ketchup" }}
  {{ template "header" . }}
  {{ template "message" .Message }}

  {{ template "ketchups" . }}

  {{ template "footer" . }}
{{ end }}

{{ define "ketchups" }}
  <style type="text/css">
    {{ range .Ketchups }}
      #delete-modal-{{ .ID }}:target,
      #edit-modal-{{ .ID }}:target,
    {{ end }}
    #create-modal:target {
      display: flex;
      z-index: 5;
    }

    {{ range .Ketchups }}
      #delete-modal-{{ .ID }}:target ~ .content,
      #edit-modal-{{ .ID }}:target ~ .content,
    {{ end }}
    #create-modal:target ~ .content {
      display: flex;
      z-index: 5;
    }

    .content {
      padding-bottom: .5rem;
    }

    .ketchups {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      margin: .5rem;
    }

    .ketchup {
      border: 1px solid var(--success);
      display: inline-flex;
      flex-direction: column;
      min-height: 18rem;
    }

    .suggest {
      border-style: dashed;
    }

    .ketchup--outdated {
      border-color: var(--danger);
    }

    .ketchup__version {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-basis: auto;
      flex-direction: column;
      justify-content: center;
    }

    .hidden {
      display: none;
    }

    .block {
      display: block;
    }

    .inline {
      display: inline-block;
    }

    .small {
      font-size: 1.6rem;
    }

    .clickable {
      cursor: pointer;
    }

    .create-form {
      width: 30rem;
    }

    .separator {
      align-items: center;
      color: var(--white);
      display: flex;
    }

    .separator::before,
    .separator::after {
      background: var(--white);
      content: "";
      flex-grow: 1;
      font-size: 0;
      height: 1px;
      line-height: 0;
    }

    .separator::before {
      margin-right: 1rem;
      max-width: 5rem;
    }

    .separator::after {
      margin-left: 1rem;
    }
  </style>

  {{ template "create-modal" }}

  {{ $ketchupType := "" }}

  {{ with .Ketchups }}
    {{ range . }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}

      {{ if ne $ketchupType .Repository.Kind.String }}
        {{ if $ketchupType }}
          </section>
        {{ end }}

        {{ $ketchupType = .Repository.Kind.String }}
        <h2 class="separator full">
          <img class="icon-large" src="{{ url "/svg/" }}{{ $ketchupType }}?fill=silver" alt="{{ $ketchupType }} logo" title="{{ $ketchupType }}">
        </h2>

        <section class="ketchups">
      {{ end }}


      <div class="ketchup center {{ if ne .Version (index .Repository.Versions .Pattern) }}ketchup--outdated{{ end }}">
        <h2 class="header small ellipsis">{{ if eq .Repository.Kind.String "helm" }}{{ .Repository.Part }} | {{ end }}{{ .Repository.Name }}</h2>

        <div class="ketchup__version">
          {{ if .Semver }}
            <pre class="no-margin">{{ .Semver }}</pre>
          {{ end }}

          <p class="no-margin padding">
            <span>
              <a class="{{ if ne .Version (index .Repository.Versions .Pattern) }}danger{{ else }}success{{ end }}" href="{{ .Repository.VersionURL .Version }}">{{ .Version }}</a>
            </span>

            {{ if ne .Version (index .Repository.Versions .Pattern) }}
              <span>
                &nbsp;->&nbsp;<a class="success" href="{{ .Repository.URL .Pattern }}">{{ index .Repository.Versions .Pattern }}</a>
              </span>
            {{ end }}
          </p>

          <pre class="no-margin">{{ .Pattern }}</pre>

          <span class="margin-top">
            <img class="icon" src="{{ url "/svg/" }}{{ frequencyImage .Frequency }}?fill=silver" alt="Frequency icon" title="Frequency {{ .Frequency.String }}">

            {{ if .UpdateWhenNotify }}
              <img class="icon" src="{{ url "/svg/inbox" }}?fill=silver" alt="Inbox icon" title="Automatic update when notification is sent">
            {{ end }}
          </span>
        </div>

        <div>
          {{ if ne .Version (index .Repository.Versions .Pattern) }}
            <a href="{{ .Repository.CompareURL .Version .Pattern }}" class="button button-icon" title="Compare">
              <img class="icon" src="{{ url "/svg/eyes?fill=silver" }}" alt="Compare icon">
            </a>

            <form method="POST" action="/app/ketchups/{{ .Repository.ID }}" class="inline">
              <input type="hidden" name="method" value="PUT">
              <input type="hidden" name="frequency" value="{{ .Frequency.String }}">
              <input type="hidden" name="update-when-notify" value="{{ .UpdateWhenNotify }}">
              <input type="hidden" name="old-pattern" value="{{ .Pattern }}">
              <input type="hidden" name="pattern" value="{{ .Pattern }}">
              <input type="hidden" name="version" value="{{ index .Repository.Versions .Pattern }}">

              <button type="submit" class="button button-icon" title="Update to latest">
                <img class="icon" src="{{ url "/svg/circle-up?fill=silver" }}" alt="Update icon">
              </button>
            </form>
          {{ end }}

          <a href="#edit-modal-{{ .ID }}" class="button button-icon" title="Edit">
            <img class="icon" src="{{ url "/svg/edit?fill=silver" }}" alt="Edit icon">
          </a>
          <a href="#delete-modal-{{ .ID }}" class="button button-icon" title="Delete">
            <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="Delete icon">
          </a>
        </div>
      </div>
    {{ end }}

    </section>
  {{ end }}

  {{ with .Suggests }}
    <h2 class="separator full">
      Suggestions
    </h2>

    <section class="ketchups">

    {{ range . }}
      <div class="ketchup center suggest">
        <h2 class="header small ellipsis">{{ .Name }}</h2>

          <div class="padding">
            <img class="icon" src="{{ url "/svg/" }}{{ .Kind.String }}?fill=silver" alt="{{ .Kind.String }} logo" title="{{ .Kind.String }}">
          </div>

        <div class="ketchup__version">
          <span>
            <a href="{{ .URL "stable" }}">{{ .Versions.stable }}</a>
          </span>
        </div>

        <div>
          <form method="POST" action="/app/ketchups/">
            <input type="hidden" name="method" value="POST">
            <input type="hidden" name="kind" value="{{ .Kind }}">
            <input type="hidden" name="name" value="{{ .Name }}">
            <input type="hidden" name="part" value="{{ .Part }}">
            <input type="hidden" name="frequency" value="Daily">
            <input type="hidden" name="update-when-notify" value="false">
            <input type="hidden" name="pattern" value="stable">
            <input type="hidden" name="version" value="{{ .Versions.stable }}">

            <button type="submit" class="button button-icon" title="Add suggestion">
              <img class="icon" src="{{ url "/svg/add?fill=silver" }}" alt="Add icon">
              Add suggestion
            </a>
          </form>
        </div>
      </div>
    {{ end }}

    </section>
  {{ end }}
{{ end }}
