{{ define "favicon" }}
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v={{ .Version }}">
  <link rel="manifest" href="/favicon/site.webmanifest?v={{ .Version }}">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v={{ .Version }}" color="#5bbad5">
  <meta name="theme-color" content="#f8f8f8">
{{ end }}

{{ define "message" }}
  {{ if . }}
    <p class="message {{ if eq .Level "success" }} success{{ else }} danger{{ end }}">
      {{ .Content }}
    </p>
  {{ end }}
{{ end }}

{{ define "ketchup" }}
<!doctype html>
<html lang="en">
  <head>
    <title>Ketchup</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "favicon" . }}
    {{ template "style-color" . }}
    {{ template "style-button" . }}
    {{ template "style" . }}
  </head>

  <body class="no-margin">
    <div class="content">
      <header class="padding">
        <h1 class="title">
          <a href="/" class="no-style clear">Ketchup</a>
        </h1>
      </header>

      {{ template "message" .Message }}
      {{ template "targets" .Targets }}
    </div>
  </body>

</html>
{{ end }}
