{{ define "create-modal" }}
  <div id="create-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Create target</h2>

      <form method="POST" action="/targets/">
        <input type="hidden" name="method" value="POST">

        <p class="padding no-margin">
          <label for="create-name" class="block">Name:</label>
          <input id="create-name" type="text" name="repository" value="{{ .CurrentVersion }}">
        </p>

        <p class="padding no-margin">
          <label for="create-current-version" class="block">Current version:</label>
          <input id="create-current-version" type="text" name="currentVersion" placeholder="1.0.0">
        </p>

        {{ template "form_buttons" "Create" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "edit-modal" }}
  <div id="edit-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Edit target</h2>

      <p class="no-margin center">{{ .Repository }}</p>

      <form method="POST" action="/targets/{{ .ID }}">
        <input type="hidden" name="method" value="PUT">
        <input type="hidden" name="repository" value="{{ .Repository }}">

        <p class="padding no-margin">
          <label for="edit-current-version-{{ .ID }}" class="block">Current version:</label>
          <input id="edit-current-version-{{ .ID }}" name="currentVersion" type="text" value="{{ .CurrentVersion }}">
        </p>

        {{ template "form_buttons" "Edit" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "delete-modal" }}
  <div id="delete-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Confirmation</h2>

      <form method="POST" action="/targets/{{ .ID }}">
        <input type="hidden" name="method" value="DELETE">

        <p class="padding no-margin center">
          Are you sure you want to delete <strong>{{ .Repository }}</strong>?
        </p>

        {{ template "form_buttons" "Delete" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "targets" }}
<style>
  {{ range . }}
    #delete-modal-{{ .ID }}:target,
    #edit-modal-{{ .ID }}:target,
  {{ end }}
  #create-modal:target {
    display: flex;
    z-index: 5;
  }

  {{ range . }}
    #delete-modal-{{ .ID }}:target ~ .content,
    #edit-modal-{{ .ID }}:target ~ .content,
  {{ end }}
  #create-modal:target ~ .content {
    display: flex;
    z-index: 5;
  }

  .target {
    align-items: center;
    display: flex;
    height: var(--icon-large);
  }

  .target:hover {
    background-color: var(--grey);
  }

  .target__content {
    width: 30rem;
  }

  .target__action {
    display: none;
  }

  .target:hover .target__action {
    display: inline-block;
  }

  @media screen and (max-width: 640px) {
    .target {
      width: auto;
    }

    .target__content {
      flex: 1 1;
      width: auto;
    }

    .target__action {
      display: inline-block;
    }
  }
</style>

<script>
    /**
     * Go back from state.
     */
    function goBack() {
      const previousHash = document.location.hash;
      document.location.hash = '';

      if (/success$/gim.test(previousHash)) {
        window.location.reload(true);
      }
    }

    /**
     * Handle Previous/next.
     */
    window.onkeyup = e => {
      switch(e.key) {
        case 'Escape':
          goBack();
          break;
      }
    };
</script>

<article>
  {{ template "create-modal" }}

  <p class="padding no-margin">
    <a href="#create-modal" class="button bg-primary">Create</a>
  </p>

  {{ range . }}
    {{ template "edit-modal" . }}
    {{ template "delete-modal" . }}

    <div class="padding target">
      <span class="target__content">
        <p class="no-margin">{{ .Repository }}</p>

        <span class="{{ if ne .CurrentVersion .LatestVersion }}danger{{ else }}success{{ end }}">
          {{ .CurrentVersion }}
        </span>

        {{ if ne .CurrentVersion .LatestVersion }}
          <span>
            -> <a class="success" href="https://github.com/{{ .Repository }}/releases/tag/{{ .LatestVersion }}" rel="noopener noreferrer" target="_blank">{{ .LatestVersion }}</a>
          </span>
        {{ end }}
      </span>

      <a href="#edit-modal-{{ .ID }}" class="button button-icon target__action" alt="Edit">
        <img class="icon" src="/svg/edit?fill=silver" alt="Edit icon">
      </a>
      <a href="#delete-modal-{{ .ID }}" class="button button-icon target__action" alt="Delete">
        <img class="icon" src="/svg/times?fill=silver" alt="Delete icon">
      </a>
    </div>
  {{ end }}
</article>
{{ end }}
