{{ define "create-modal" }}
  <div id="create-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Create ketchup</h2>

      <form method="POST" action="/app/ketchups/" class="create-form">
        <input type="hidden" name="method" value="POST">
        <input type="hidden" name="pattern" value="stable">

        <p class="padding no-margin flex">
          <span class="flex-grow center">
            <label for="create-kind-github" class="block">
              <img class="icon icon-large clickable" src="/svg/github?fill=silver" alt="Github icon">
            </label>
            <input id="create-kind-github" type="radio" name="kind" value="github" checked>
          </span>
          <span class="flex-grow center">
            <label for="create-kind-helm" class="block">
              <img class="icon icon-large clickable" src="/svg/helm?fill=silver" alt="Helm icon">
            </label>
            <input id="create-kind-helm" type="radio" name="kind" value="helm">
          </span>
        </p>

        <p class="padding no-margin">
          <label for="create-name" class="block">Name:</label>
          <input id="create-name" type="text" name="repository" placeholder="ViBiOh/ketchup" value="{{ .Version }}" class="full">
        </p>

        <p class="padding no-margin">
          <label for="create-pattern" class="block">Pattern:</label>
          <select id="create-pattern" name="pattern" class="full">
            <option value="stable" selected>stable</option>
            <option value="latest">latest</option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="create-version" class="block">My version:</label>
          <input id="create-version" type="text" name="version" placeholder="1.0.0" class="full">
        </p>

        {{ template "form_buttons" "Create" }}
      </form>
    </div>
  </div>

  <script type="text/javascript">
    const nameInput = document.getElementById('create-name');

    document.getElementById('create-kind-github').addEventListener('change', (e) => {
      if (e.target.value === 'github') {
        nameInput.placeholder = 'ViBiOh/ketchup';
      }
    });

    document.getElementById('create-kind-helm').addEventListener('change', (e) => {
      if (e.target.value === 'helm') {
        nameInput.placeholder = 'app@https://charts.vibioh.fr';
      }
    });
  </script>
{{ end }}

{{ define "edit-modal" }}
  <div id="edit-modal-{{ .Repository.ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Edit ketchup</h2>

      <p class="padding no-margin center">
        <img class="icon" src="/svg/{{ .Repository.Kind.String }}?fill=silver" alt="{{ .Repository.Kind.String }} icon">
      </p>

      <p class="no-margin center padding">{{ .Repository.Name }}</p>

      <form method="POST" action="/app/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="PUT">

        <p class="padding no-margin">
          <label for="edit-pattern-{{ .Repository.ID }}" class="block">Pattern:</label>
          <select id="edit-pattern-{{ .Repository.ID }}" name="pattern" class="full">
            <option value="stable" {{ if eq .Pattern "stable" }}selected{{ end }}>stable</option>
            <option value="latest" {{ if eq .Pattern "latest" }}selected{{ end }}>latest</option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="edit-version-{{ .Repository.ID }}" class="block">My version:</label>
          <input id="edit-version-{{ .Repository.ID }}" name="version" type="text" value="{{ .Version }}">
        </p>

        {{ template "form_buttons" "Edit" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "delete-modal" }}
  <div id="delete-modal-{{ .Repository.ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Confirmation</h2>

      <form method="POST" action="/app/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="DELETE">

        <p class="padding no-margin center">
          Are you sure you want to delete <strong>{{ .Repository.Name }}</strong>?
        </p>

        {{ template "form_buttons" "Delete" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "ketchup" }}
  {{ template "header" . }}
  {{ template "message" .Message }}

  {{ template "ketchups" . }}

  {{ template "footer" . }}
{{ end }}

{{ define "ketchups" }}
  <style>
    {{ range .Ketchups }}
      #delete-modal-{{ .Repository.ID }}:target,
      #edit-modal-{{ .Repository.ID }}:target,
    {{ end }}
    #create-modal:target {
      display: flex;
      z-index: 5;
    }

    {{ range .Ketchups }}
      #delete-modal-{{ .Repository.ID }}:target ~ .content,
      #edit-modal-{{ .Repository.ID }}:target ~ .content,
    {{ end }}
    #create-modal:target ~ .content {
      display: flex;
      z-index: 5;
    }

    .ketchups {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      margin: .5rem;
    }

    .ketchup {
      border: 1px solid var(--success);
      display: inline-flex;
      flex-direction: column;
      min-height: 20rem;
    }

    .suggest {
      border-style: dashed;
    }

    .ketchup--outdated {
      border-color: var(--danger);
    }

    .ketchup__version {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-basis: auto;
      flex-direction: column;
      justify-content: center;
    }

    .block {
      display: block;
    }

    .inline {
      display: inline-block;
    }

    .small {
      font-size: 1.6rem;
    }

    .clickable {
      cursor: pointer;
    }

    .create-form {
      width: 25rem;
    }
  </style>

  {{ template "create-modal" }}

  <article class="ketchups">
    {{ range .Ketchups }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}

      <div class="ketchup center {{ if ne .Version (index .Repository.Versions .Pattern) }}ketchup--outdated{{ end }}">
        <h2 class="header small ellipsis">{{ .Repository.Name }}</h2>

        <div class="padding">
          <img class="icon" src="/svg/{{ .Repository.Kind.String }}?fill=silver" alt="{{ .Repository.Kind.String }} icon">
        </div>

        <div class="ketchup__version">
          {{ if .Semver }}
            <pre class="no-margin">{{ .Semver }}</pre>
          {{ end }}

          <p class="no-margin padding">
            <span>
              <a class="{{ if ne .Version (index .Repository.Versions .Pattern) }}danger{{ else }}success{{ end }}" href="{{ .Repository.URL }}">{{ .Version }}</a>
            </span>

            {{ if ne .Version (index .Repository.Versions .Pattern) }}
              <span>
                &nbsp;->&nbsp;<a class="success" href="{{ .Repository.URL }}">{{ index .Repository.Versions .Pattern }}</a>
              </span>
            {{ end }}
          </p>

          <pre class="no-margin">{{ .Pattern }}</pre>
        </div>


        <div>
          {{ if ne .Version (index .Repository.Versions .Pattern) }}
            <a href="{{ .Repository.CompareURL .Version }}" class="button button-icon" title="Compare">
              <img class="icon" src="/svg/eyes?fill=silver" alt="Compare icon">
            </a>

            <form method="POST" action="/app/ketchups/{{ .Repository.ID }}" class="inline">
              <input type="hidden" name="method" value="PUT">
              <input type="hidden" name="pattern" value="{{ .Pattern }}">
              <input type="hidden" name="version" value="{{ index .Repository.Versions .Pattern }}">

              <button type="submit" class="button button-icon" title="Update to latest">
                <img class="icon" src="/svg/circle-up?fill=silver" alt="Update icon">
              </button>
            </form>
          {{ end }}

          <a href="#edit-modal-{{ .Repository.ID }}" class="button button-icon" title="Edit">
            <img class="icon" src="/svg/edit?fill=silver" alt="Edit icon">
          </a>
          <a href="#delete-modal-{{ .Repository.ID }}" class="button button-icon" title="Delete">
            <img class="icon" src="/svg/times?fill=silver" alt="Delete icon">
          </a>
        </div>
      </div>
    {{ end }}

    {{ range .Suggests }}
      <div class="ketchup center suggest">
        <h2 class="header small ellipsis">{{ .Name }}</h2>

        <div class="ketchup__version">
          <span>
            <a href="{{ .URL }}">{{ .Versions.stable }}</a>
          </span>
        </div>

        <div>
          <form method="POST" action="/app/ketchups/">
            <input type="hidden" name="method" value="POST">
            <input type="hidden" name="repository" value="{{ .Name }}">
            <input type="hidden" name="version" value="{{ .Versions.stable }}">

            <button type="submit" class="button button-icon" title="Add suggestion">
              <img class="icon" src="/svg/add?fill=silver" alt="Add icon">
              Add suggestion
            </a>
          </form>
        </div>
      </div>
    {{ end }}
  </article>
{{ end }}
