{{ define "create-modal" }}
  <div id="create-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Create target</h2>

      <form method="POST" action="/ketchups/">
        <input type="hidden" name="method" value="POST">

        <p class="padding no-margin">
          <label for="create-name" class="block">Name:</label>
          <input id="create-name" type="text" name="repository" placeholder="ViBiOh/ketchup" value="{{ .Version }}">
        </p>

        <p class="padding no-margin">
          <label for="create-version" class="block">My version:</label>
          <input id="create-version" type="text" name="version" placeholder="1.0.0">
        </p>

        {{ template "form_buttons" "Create" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "edit-modal" }}
  <div id="edit-modal-{{ .Repository.ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Edit target</h2>

      <p class="no-margin center padding">{{ .Repository.Name }}</p>

      <form method="POST" action="/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="PUT">

        <p class="padding no-margin">
          <label for="edit-version-{{ .Repository.ID }}" class="block">My version:</label>
          <input id="edit-version-{{ .Repository.ID }}" name="version" type="text" value="{{ .Version }}">
        </p>

        {{ template "form_buttons" "Edit" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "delete-modal" }}
  <div id="delete-modal-{{ .Repository.ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Confirmation</h2>

      <form method="POST" action="/ketchups/{{ .Repository.ID }}">
        <input type="hidden" name="method" value="DELETE">

        <p class="padding no-margin center">
          Are you sure you want to delete <strong>{{ .Repository.Name }}</strong>?
        </p>

        {{ template "form_buttons" "Delete" }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "ketchups" }}
<style>
  {{ range . }}
    #delete-modal-{{ .Repository.ID }}:target,
    #edit-modal-{{ .Repository.ID }}:target,
  {{ end }}
  #create-modal:target {
    display: flex;
    z-index: 5;
  }

  {{ range . }}
    #delete-modal-{{ .Repository.ID }}:target ~ .content,
    #edit-modal-{{ .Repository.ID }}:target ~ .content,
  {{ end }}
  #create-modal:target ~ .content {
    display: flex;
    z-index: 5;
  }

  .target {
    align-items: center;
    display: flex;
    min-height: calc(var(--icon-size) + var(--space-size) * 4);
  }

  .target:hover {
    background-color: var(--grey);
  }

  .target__content {
    width: 35rem;
  }

  .target__action {
    display: none;
  }

  .target:hover .target__action {
    display: inline-block;
  }

  .block {
    display: block;
  }

  @media screen and (max-width: 640px) {
    .target {
      width: auto;
    }

    .target__content {
      flex: 1 1;
      width: auto;
    }

    .target__action {
      display: inline-block;
    }
  }
</style>

<script>
    /**
     * Go back from state.
     */
    function goBack() {
      const previousHash = document.location.hash;
      document.location.hash = '';

      if (/success$/gim.test(previousHash)) {
        window.location.reload(true);
      }
    }

    /**
     * Handle Previous/next.
     */
    window.onkeyup = e => {
      switch(e.key) {
        case 'Escape':
          goBack();
          break;
      }
    };
</script>

<article>
  {{ template "create-modal" }}

  <p class="padding no-margin">
    <a href="#create-modal" class="button bg-primary">Create</a>
  </p>

  {{ range . }}
    {{ template "edit-modal" . }}
    {{ template "delete-modal" . }}

    <div class="padding target">
      <span class="target__content">
        <p class="no-margin">{{ .Repository.Name }}</p>

        <span class="{{ if ne .Version .Repository.Version }}danger{{ else }}success{{ end }}">
          {{ .Version }}
        </span>

        {{ if ne .Version .Repository.Version }}
          <span>
            -> <a class="success" href="https://github.com/{{ .Repository.Name }}/releases/tag/{{ .Repository.Version }}" rel="noopener noreferrer" target="_blank">{{ .Repository.Version }}</a>
          </span>
        {{ end }}
      </span>

      {{ if ne .Version .Repository.Version }}
        <a href="https://github.com/{{ .Repository.Name }}/compare/{{ .Version }}...{{ .Repository.Version }}" target="_blank" rel="noreferrer noopener" class="button button-icon target__action" title="Compare">
          <img class="icon" src="/svg/eyes?fill=silver" alt="Compare icon">
        </a>

        <form method="POST" action="/ketchups/{{ .Repository.ID }}" class="target__action">
          <input type="hidden" name="method" value="PUT">
          <input type="hidden" name="version" value="{{ .Repository.Version }}">

          <button type="submit" class="button button-icon" title="Update to latest">
            <img class="icon" src="/svg/circle-up?fill=silver" alt="Update icon">
          </button>
        </form>
      {{ end }}

      <a href="#edit-modal-{{ .Repository.ID }}" class="button button-icon target__action" title="Edit">
        <img class="icon" src="/svg/edit?fill=silver" alt="Edit icon">
      </a>
      <a href="#delete-modal-{{ .Repository.ID }}" class="button button-icon target__action" title="Delete">
        <img class="icon" src="/svg/times?fill=silver" alt="Delete icon">
      </a>
    </div>
  {{ end }}
</article>
{{ end }}
