{{ define "signup" }}
  <style>
    .active-link {
      color: var(--primary);
    }

    #signup {
      border: 1px solid var(--primary);
      display: none;
      margin: 0 auto;
      width: 25rem;
    }

    #signup:target {
      display: block;
    }
  </style>

  <h2 class="center">
    <a href="/app/" class="active-link">Login</a> or <a href="#signup" class="active-link">Signup</a>
  </h2>

  <fieldset id="signup">
    <legend>Signup</legend>

    <form method="POST" action="/signup">
      <input type="hidden" name="token" value="{{ .Token }}">

      <p class="padding no-margin">
        <label for="email" class="block">Email: <span class="danger">*</span></label>
        <input id="email" type="text" name="email" placeholder="nobody@localhost">
      </p>

      <p class="padding no-margin">
        <label for="login" class="block">Login: <span class="danger">*</span></label>
        <input id="login" type="text" name="login" placeholder="john_doe">
      </p>

      <p class="padding no-margin">
        <label for="password" class="block">Password: <span class="danger">*</span></label>
        <input id="password" type="password" name="password" placeholder="secret">
      </p>

      <p class="padding no-margin">
        <label for="question" class="block">{{ .Question }} <span class="danger">*</span></label>
        <input id="question" type="text" name="answer">
      </p>

      <p class="padding no-margin center">
        <a href="#" class="button">Cancel</a>
        <button type="submit" class="button bg-primary">Signup</button>
      </p>
    </form>
  </fieldset>
{{ end }}
