{{ define "style" }}
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    a {
      color: var(--white);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }

    .header {
      background-color: var(--grey);
      margin-top: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .center {
      text-align: center;
    }

    .padding {
      padding: 1rem;
    }

    .no-padding {
      padding: 0;
    }

    .no-margin {
      margin: 0;
    }

    @media screen and (max-width: 424px) {
      .container {
        height: auto;
      }
    }

    @media print {
      body::after {
        content: 'Save ink, share link. https://ketchup.vibioh.fr';
      }

      body > * {
        display: none !important;
      }
    }
  </style>
{{ end }}
