{{ define "suggests" }}
  {{ if .Suggests }}
    <style type="text/css">
      .ketchups {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: .5rem;
      }

      .ketchup {
        border: 1px dashed var(--success);
        display: inline-flex;
        flex-direction: column;
        height: 18rem;
        width: 24rem;
      }

      .ketchup__version {
        align-items: center;
        display: flex;
        flex: 1 1;
        flex-basis: auto;
        flex-direction: column;
        justify-content: center;
      }

      .small {
        font-size: 1.6rem;
      }
    </style>

    <h3>Suggestions</h3>

    <aside class="ketchups">
      {{ range .Suggests }}
        <div class="ketchup center">
          <h2 class="header small ellipsis">{{ .Name }}</h2>

          <div class="padding">
            <img class="icon" src="/svg/{{ .Kind.String }}?fill=silver" alt="{{ .Kind.String }} icon">
          </div>

          <div class="ketchup__version">
            <p class="no-margin padding">
              <a href="{{ .URL }}">{{ .Versions.stable }}</a>
            </p>

            <pre class="no-margin">stable</pre>
          </div>
        </div>
      {{ end }}
    </aside>
  {{ end }}
{{ end }}
