{{ define "suggests" }}
  {{ if .Suggests }}
    <style type="text/css">
      .ketchups {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: .5rem;
      }

      .ketchup {
        border: 1px dashed var(--success);
        display: inline-flex;
        flex-direction: column;
        height: 15rem;
        width: 24rem;
      }
    </style>

    <h3>Suggestions</h3>

    <aside class="ketchups">
      {{ range .Suggests }}
        <div class="ketchup center">
          <h2 class="header small ellipsis">{{ .Name }}</h2>

          <div class="ketchup__version">
            <span>
              <a href="https://github.com/{{ .Name }}/releases/tag/{{ .Version }}">{{ .Version }}</a>
            </span>
          </div>
        </div>
      {{ end }}
    </aside>
  {{ end }}
{{ end }}
